// Font Settings

$baseFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$monoFontFamily: Menlo, Monaco, "Courier New", monospace !default;
$browserDefaultFontSize: 16;
$baseFontSize: 14 !default;
$baseLineHeight: 20 !default;


// Colours

$bodyBackgroundColour: #fff !default;
$textColour: #000 !default;