$baseFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
$altFontFamily: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$monoFontFamily: Menlo, Monaco, "Courier New", monospace;

$baseFontSize: 14px;
$baseLineHeight: 20px;