* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0; }

p,
ol,
ul,
dl,
dd,
pre {
  margin: 0;
  padding: 0; }

li {
  display: block; }

a {
  color: inherit;
  text-decoration: none; }

em {
  font-style: inherit; }

strong {
  font-weight: inherit; }

:focus {
  outline: 0; }

a img {
  border: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td {
  padding: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

[hidden] {
  display: none; }

button,
input,
select,
textarea {
  vertical-align: baseline;
  *vertical-align: middle;
  margin: 0;
  padding: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 0;
  margin: 0;
  background: transparent;
  color: black; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

textarea {
  vertical-align: top; }

input::-webkit-input-placeholder {
  color: inherit; }
input:-moz-placeholder {
  color: inherit; }

input,
textarea {
  border: 0;
  color: inherit; }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea {
  display: block;
  width: 100%; }

html {
  font-size: 100%; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

q {
  quotes: none; }

q:before,
q:after {
  content: "";
  content: none; }

body,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px; }

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, "Courier New", monospace; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

body {
  background: white;
  color: black; }
