$mq-mobile: 480px;
$mq-small-tablet: 640px;
$mq-tablet: 960px;
$mq-desktop: 1280px;
// Other widths: 320, 800

@mixin mq-mobile-only {
    @media (max-width: $mq-mobile) {
        @content;
    }
}

@mixin mq-small-tablet-only {
    @media (min-width: $mq-mobile + 1px) and (max-width: $mq-small-tablet) {
        @content;
    }
}

@mixin mq-small-tablet-and-up {
    @media (min-width: $mq-mobile + 1px) {
        @content;
    }
}

@mixin mq-small-tablet-and-under {
    @media (max-width: $mq-small-tablet) {
        @content;
    }
}

@mixin mq-tablet-only {
    @media (min-width: $mq-small-tablet + 1px) and (max-width: $mq-tablet) {
        @content;
    }
}

@mixin mq-tablet-and-up {
    @media (min-width: $mq-small-tablet + 1px) {
        @content;
    }
}

@mixin mq-tablet-and-under {
    @media (max-width: $mq-tablet) {
        @content;
    }
}

@mixin mq-desktop-and-under {
    @media (max-width: $mq-desktop) {
        @content;
    }
}

@mixin mq-desktop-only {
    @media (min-width: $mq-tablet + 1px) and (max-width: $mq-desktop) {
        @content;
    }
}

@mixin mq-desktop-and-up {
    @media (min-width: $mq-tablet + 1px) {
        @content;
    }
}