$white: #fff;
$lighterGrey: darken($white, 10%);
$lightGrey: darken($white, 20%);
$grey: darken($white, 40%);
$darkGrey: darken($white, 60%);
$darkerGrey: darken($white, 80%);
$black: #000;
$teal: #006685;
$yellow: #ffd100;
$green: #8dc63f;
$orange: #f7941d;
$red: #ed1c24;

// semantically named colours
$bodyBackground: $white;
$textColour: $black;
$linkColour: $teal;
$linkColourHover: lighten($teal, 20%);