$white: #fff;
$lighterGrey: darken($white, 5%);
$lightGrey: darken($white, 15%);
$grey: darken($white, 40%);
$darkGrey: darken($white, 60%);
$darkerGrey: darken($white, 80%);
$black: #000;

// Semantically named colours
$bodyBackground: $white;
$textColour: $black;